[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-graphql-auth = "*"
django-channels = "*"
djangorestframework = "*"
django-widget-tweaks = "*"
pytz = "*"
django-cors-headers = "*"
pusher = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.10"
